*{
    margin: auto;
    padding: none;
   
    
}
body{
    
    color: #04146c;
    font-family: 'source sans pro';
    border: 2px #2a7bbc solid;
    
}
header{
    
    font-size: 38px;
    background-color:  #04146c;
    color: white;
    text-align: center;
    font-weight: 400px;
}
main{
    width: 50%;
    text-align: center;
    align-items: center;
    
}
main h1{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 88px;
    font-weight: 900px;
}
main img{
    border: 2px solid #2a7bbc;
    margin-bottom: 20px;
}
main p{
    padding-bottom: 5%;
    font-size: 20px;
    font-weight: 400px;
}
footer{
    
    background-color: #edf7ff;
}
footer p {
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 30px;
}