@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    

    font-family: 'Roboto', sans-serif;

}
header{
    background-image: url(recursos/M4\ -\ Desafío3_img-header.png);
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    width: 90%;
    display: block;
    
    
        
}
div{
    margin-left: 5%;
}
body{
    border: 5px solid gray;
    margin: auto;
}

main{
    width: 80%;
    padding: 10px;
    margin: auto;
    
}

h1{
    font-family: 'Roboto Slab', serif;
    font-size: 58px;
    font-weight: 700px;
    color: #0a2ff1;

}

p{
  font-weight: 400px;
  font-size: 25px;  
  
  
}
.parrafot{
    font-size: 25px;
    font-weight:700px;
    color: #0a2ff1;
}
.parrafofoot{
    margin-left: 5%;
    font-size: 24px;
}


button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 26px;
    color: white;

    width: 300px;
    height: 50px;
    margin-bottom: 10px;
    background-color:  #0a2ff1;

    margin-left: 5%;
}



footer{
    width: 100%;
    height: 10px;
    background-color:  #15163d;
}