.im{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
    
    width:100px;
    height: auto; 
    vertical-align: middle;
    margin-left: 30px;
}
p{
    
    text-align: center;
    font-family: 'poppins';
    color:  #0a2ff1;
    font-size: 32px;
    font-weight: 300px;
}